.preview-container {
    border-radius: 4px;
    overflow: hidden;
    
}

.img-preview {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
    object-fit: contain;
    max-height: 20rem;
}

/* Estilo personalizado para el input file */
.form-control[type="file"] {
    padding: 0.375rem 0.75rem;
    cursor: pointer;
}

.form-control[type="file"]:hover {
    background-color: #f8f9fa;
}