.preview-container {
    border-radius: 4px;
    overflow: hidden;
    
}

.img-preview {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
    object-fit: contain;
    max-height: 20rem;
}

/* Estilo personalizado para el input file */
.form-control[type="file"] {
    padding: 0.375rem 0.75rem;
    cursor: pointer;
}

.form-control[type="file"]:hover {
    background-color: #f8f9fa;
}

.preview-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    padding: 1rem 0;
}

.preview-item {
    position: relative;
}

.preview-image-container {
    position: relative;
    padding-bottom: 100%; /* Aspecto cuadrado */
    border-radius: 8px;
    overflow: hidden;
    background-color: #f8f9fa;
}

.preview-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    padding: 0;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    font-size: 18px;
    opacity: 0.9;
    z-index: 1;
}

.delete-btn:hover {
    opacity: 1;
}

/* Estilo personalizado para el input file */
.form-control[type="file"] {
    padding: 0.375rem 0.75rem;
    cursor: pointer;
}

.form-control[type="file"]:hover {
    background-color: #f8f9fa;
}