/* 
    General Styles used on every website (Don't Repeat Yourself)
*/@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap');

body {
    margin: 0;
    height: 100vh;
    background-image: linear-gradient(to top right, rgb(23, 75, 64), rgb(76, 118, 81), rgba(156, 201, 140, 1));
    background-attachment: fixed;
    font-family: "Pridi", serif;
    font-weight: 400;
    font-style: normal;
    color: white;

}
.imagehome{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.imageformLogin {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    color: black;
    min-height: 110vh
}

.imageformSignup {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    color: black;
    min-height: 120vh
}

.imageform::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1; 
}
.edit-form{
    width: 650px;
    border-radius: 1.5rem;
    border: 1px solid rgba(238, 233, 233, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding: 30px;
}
.box-log {
    width: 950px;
    padding: 2.5%;
    border-radius: 1.5rem;
    border: 1px solid rgba(238, 233, 233, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    display: flex;
    align-items: center;
    margin-top: 88px
}
.box-post{
    width: 700px;
    padding: 30px;
    border-radius: 1.5rem;
    border: 1px solid rgba(238, 233, 233, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    display: flex;
    align-items: center;
}
.box-register{
    width: 950px;
    padding: 2.5%;
    border-radius: 1.5rem;
    border: 1px solid rgba(238, 233, 233, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    display: flex;
    align-items: center;
    margin-top: 88px;
}
.box-form:hover {
    border-color: rgba(238, 233, 233, 0.5);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.25);
}

.signup-button, .login-button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.signup-button:after, .login-button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23, 75, 64);
    border-radius: 10rem;
    z-index: -2;
}

.signup-button:before, .login-button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgb(241,178,74,255);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

.signup-button:hover, .login-button:hover {
    color: #fff;
}

.signup-button:hover:before, .login-button:hover:before{
    width: 100%;
}

@media (max-width: 576px) {
    .box-form {
        width: 95%;
        padding: 2.5rem 1.5rem;
    }
}
h1 {
    font-family: "Pridi", serif;
    font-weight: 500 !important;
    font-style: normal;
}
.landsimage-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto; 
    height: auto;
}

.landsimage {
    max-width: 87%;
    max-height: 100%; 
    border-radius: 50px; 
    object-fit: contain;
}
.left-form {
    margin-left: 40px; 
    width: 60%;  
}

.favorite-btn {
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}

.favorite-btn.favorite {
    color: gold;
}

.land-card {
    border: 1px solid #ccc;
    padding: 10px;
    /* margin: 10px 15px 10px 0; */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    color: black;
}

.imagehome{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.inputNumberUpDownRemoved input[type=number]::-webkit-inner-spin-button, 
.inputNumberUpDownRemoved input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
.navbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.navbar.absolute {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.down {
    background-color: white;
    
}
.down .sections .nav-link {
    color: black;
    
}
.logo{
    width: 200px;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));

}
.sections{
    text-align: center;
    width: 500px;
    display: flex;

}
.sections .nav-link{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-family: "Pridi", serif;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 400;
    padding: 15px;
    transition: all ease 0.5s;
}
.sections .nav-link:hover{
    background-color: #211b4385;
}

.fav-section{
    padding-top: 68.5px;
}
.land-section{
    /* margin-top: 88.5px; */
    padding-top: 68.5px;
}
.profile-section{
    margin-top: 45px;
}

.edit-section{
    margin-top: 68.5px;
}
.img-post{
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    min-height: 120vh;
}
.post-section{
    margin-top: 88px;
}

.form-post{
    width: 750px !important;
}
.cancel{
    margin: 20px;
}
.gm-ui-hover-effect {
    display: none !important;
}
.gm-style .gm-style-iw-c {
    padding: 0px !important;
}
.gm-style-iw-ch {
    padding-top: 0px !important;
}
.gm-style .gm-style-iw-d {
    overflow: auto !important;
}


.values{
    position: relative;
}

.range-values {
    padding: 10px 15px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.values-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
}

.values-section {
    margin-bottom: 10px;
}

.dropdown-section h4 {
    margin: 0 0 5px 0;
    font-size: 14px;
}

.values-item {
    display: block;
    padding: 8px;
    background-color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 14px;
}

.values-item:hover {
    background-color: #f0f0f0;
}

.values-menu.show {
    display: block;
}