.grandiente-blanco-gris {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
}

.text-overflow-ellipsis{
    overflow: hidden;
    display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
        line-clamp: 1; 
    -webkit-box-orient: vertical;
}

.cancel-button{
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.cancel-button:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(178,35,35);
    border-radius: 10rem;
    z-index: -2;
}

.cancel-button:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgb(241,178,74,255);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

.cancel-button:hover{
    color: #fff;
}

.cancel-button:hover:before{
    width: 100%;
}

.card-options {
    position: absolute;
    top: 10%;
    left: 90%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* background-color: #555; */
    color: white;
    font-size: 16px;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}